@font-face {
  font-family: "Pokemon";
  src: url(./assets/fonts/PokemonHollow.ttf);
  font-weight: solid;
}

@font-face {
  font-family: "pokemonSolid";
  src: url(./assets/fonts/PokemonSolid.ttf);
  font-weight: solid;
}

body {
  font-family: 'Times New Roman', Times, serif;
  border: 0px;
  margin: 0px;
  height: 100vh;
  background-color: rgba(170, 219, 238, 0.808);
}

.b-logo {
  width: 600px;
  height: 300px;
}

.b-pokeball {
  position: relative;
  right: 20%;
  width: 120px;
  height: 60px;
}

h1 {
  font-family: "Pokemon";
  font-size: 100px;
  margin-top: 30px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 40px;
  padding-left: 52%;
}

input {
  height: 20px;
  width: 160px;
  font-size: 18px;
  margin-left: 100%;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  max-width: 80%;
}

.gallery figure {
  background-image: url(./assets/normal.png);
  background-repeat: no-repeat;
  background-size: 200px;
  width: 200px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 7px 7px 20px black;
          box-shadow: 7px 7px 20px black;
  cursor: pointer;
}

.gallery figure div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  width: 100%;
  padding: bot;
  background-color: transparent;
}

.gallery figure img {
  position: relative;
  width: 130px;
  height: 120px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  -webkit-filter: grayscale(30%);
          filter: grayscale(30%);
}

.gallery img:hover {
  -webkit-filter: saturate(180%);
          filter: saturate(180%);
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
}

.gallery span {
  font-family: 'Courier New', Courier, monospace;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 18px;
  margin: 5px;
}

.gallery h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  padding-right: 30px;
}

.gallery .fire {
  background-image: url(./assets/fire.png);
  color: #effafd;
  background-repeat: no-repeat;
  background-size: 200px;
  width: 200px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 7px 7px 20px black;
          box-shadow: 7px 7px 20px black;
}

.gallery .water {
  background-image: url(./assets/water.png);
  background-repeat: no-repeat;
  background-size: 200px;
  width: 200px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 7px 7px 20px black;
          box-shadow: 7px 7px 20px black;
}

.gallery .grass {
  background-image: url(./assets/grass1.png);
  background-repeat: no-repeat;
  background-size: 200px;
  width: 200px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 7px 7px 20px black;
          box-shadow: 7px 7px 20px black;
}

.gallery .bug {
  background-image: url(./assets/bug.png);
  background-repeat: no-repeat;
  background-size: 200px;
  width: 200px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 7px 7px 20px black;
          box-shadow: 7px 7px 20px black;
}

.gallery .ground {
  background-image: url(./assets/bug.png);
  background-repeat: no-repeat;
  background-size: 200px;
  width: 200px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 7px 7px 20px black;
          box-shadow: 7px 7px 20px black;
}

.gallery .poison {
  background-image: url(./assets/poison.png);
  background-repeat: no-repeat;
  background-size: 200px;
  width: 200px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 7px 7px 20px black;
          box-shadow: 7px 7px 20px black;
}

.gallery .electric {
  background-image: url(./assets/electric.png);
  background-repeat: no-repeat;
  background-size: 200px;
  width: 200px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 7px 7px 20px black;
          box-shadow: 7px 7px 20px black;
}

.gallery .normal {
  background-image: url(./assets/normal.png);
  background-repeat: no-repeat;
  background-size: 200px;
  width: 200px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 7px 7px 20px black;
          box-shadow: 7px 7px 20px black;
}

.gallery .fighting {
  background-image: url(./assets/fight.png);
  background-repeat: no-repeat;
  background-size: 200px;
  width: 200px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 7px 7px 20px black;
          box-shadow: 7px 7px 20px black;
}

.gallery .fairy {
  background-image: url(./assets/fairy.png);
  background-repeat: no-repeat;
  background-size: 200px;
  width: 200px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 7px 7px 20px black;
          box-shadow: 7px 7px 20px black;
}

.gallery .psychic {
  background-image: url(./assets/psychic.png);
  background-repeat: no-repeat;
  background-size: 200px;
  width: 200px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 7px 7px 20px black;
          box-shadow: 7px 7px 20px black;
}

.gallery .rock {
  background-image: url(./assets/rock.png);
  background-repeat: no-repeat;
  background-size: 200px;
  width: 200px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 7px 7px 20px black;
          box-shadow: 7px 7px 20px black;
}

.gallery .rock {
  background-image: url(./assets/ground.png);
  background-repeat: no-repeat;
  background-size: 200px;
  width: 200px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 7px 7px 20px black;
          box-shadow: 7px 7px 20px black;
}

.gallery .ghost {
  background-image: url(./assets/ghost1.png);
  background-repeat: no-repeat;
  background-size: 200px;
  width: 200px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 7px 7px 20px black;
          box-shadow: 7px 7px 20px black;
}

.gallery .ice {
  background-image: url(./assets/ice.png);
  background-repeat: no-repeat;
  background-size: 200px;
  width: 200px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 7px 7px 20px black;
          box-shadow: 7px 7px 20px black;
}

.gallery .dragon {
  background-image: url(./assets/dragon.png);
  background-repeat: no-repeat;
  background-size: 200px;
  width: 200px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 7px 7px 20px black;
          box-shadow: 7px 7px 20px black;
}
/*# sourceMappingURL=style.css.map */
